{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>

<p style="font-size: 1.2em; color: #FF0000; font-weight: bold;">
    {% if page.extra.end_date %}
    {{ page.date | date(format="%a") }} - {{ page.extra.end_date | date(format="%a") }}, {{ page.date | date(format="%e") }}-{{ page.extra.end_date | date(format="%e") }} {{ page.date | date(format="%B %Y") }}
    {% else %}
    {{ page.date | date(format="%A, %e %B %Y") }}
    {% endif %}
</p>

{{ page.content | safe }}
{% endblock %}
